<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!--<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>-->
   <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body >
{% include "menu.html" %}

<style type="text/css">

  /*background-image: url("background.jpg");*/
body{
}
#top {
 width: 50%; 
 margin-right: auto; margin-left: auto;
}

textarea {
  width: 100%;
  margin-bottom: 5px;
}

.label-left{
  margin-top:20px;
}

.label-right{
  margin-top: 20px;
margin-left: 5px;
}

.elem{
  border-radius: 5px; 
  border: 2px solid rgb(189, 219, 250); 
  padding-right: 10px; 
  padding-left: 10px;
  padding-bottom:60px;
  background-color: ghostwhite;
}

.addpost{
  margin-top: 30px;
   border-radius: 5px; 
  border: 2px solid rgb(189, 219, 250); 
  padding:5px;
  background-color: ghostwhite;
}

.topbutton{
  float:right;
  margin:10px;
}


#sub {
  width: 100%;
  position: relative;
}


#editSomething, #deleteSomething {
  float: right;
  margin-top: 10px;
  margin-right:5px;
  margin-left:10px;
}



</style>  

<br><br>

<div id="top" class="addpost">
  <form  action="/comment/post" method="post" id="comment_post">
    <textarea id="comment_content" form="comment_post" name="comment_content" rows="10" value="" placeholder="Write your comment in here"></textarea>
    <input  name="post_id" type="hidden" value="{{post_id}}">
     <button type = "submit" style="width: 100%;" class = "btn btn-primary btn-lg glyphicon glyphicon-envelope"></button>
  </form>
</div>
<br>

{% if comments != 0 %}

<div id="main-container" class="span7 center" style="width: 70%; margin-left: 15%; ">
<div class = "jumbotron" style="border-radius: 5px;">


 {% for comment in comments %}

<div id="main-container">
  <div class="wrapper elem" >
    <div id="sub">
       <label class="label-right">{{comment[6]}}</label>

       <button value="validate" form="comment{{comment[2]}}" class="btn btn-primary glyphicon glyphicon-ok topbutton" id="validate_{{comment[2]}}" style="display:none" name="validateSomething" type="submit"></button>

      {% if comment[0] == session['id'] %}
      <button value="edit" class="btn btn-primary glyphicon glyphicon-pencil topbutton" id="edit_{{comment[2]}}" style="display: true;" name="editSomething" onclick=" document.getElementById( 'validate_{{comment[2]}}' ).setAttribute('style', ''); hide('{{comment[2]}}');"></button>

      <button value="delete" class="btn btn-primary glyphicon glyphicon-trash topbutton" id="delete_{{comment[2]}}" onclick="delete_comment('{{comment[2]}}', '{{post_id}}')" name="deleteSomething"></button>

      
      

      {% endif %}

     

    </div>
    
    <div id="button-group">
      <form action="/comment/update" method="post" id="comment{{comment[2]}}">
          <textarea id="text_{{comment[2]}}" name="content" rows="10" form="comment{{comment[2]}}" placeholder="{{comment[4]}}" disabled="disabled" style="background-color:rgb(220, 236, 251);"></textarea>

        <input  name="comment_id" type="hidden" value="{{comment[2]}}">
        <input  name="post_id" type="hidden" value="{{post_id}}">

        <div style="float:right;">

          <label class="label-left">{{comment[5]}}</label>

          {% if comment[2] not in session['comment_likes'] %}

          <button type="button" class="btn btn-primary glyphicon glyphicon-plus-sign topbutton" id="likes" onclick="like_comment('{{post_id}}', '{{comment[2]}}');"/>

            {% else %}


          <button type="button" class="btn btn-primary glyphicon glyphicon-minus-sign topbutton" id="dislikes" onclick="dislike_comment('{{post_id}}', '{{comment[2]}}');"/>

            {% endif %}

        </div>

       </form>
        
    </div>
  </div>
</div>

<br>
{% endfor %}

</div></div>

{% endif %}

<script type="text/javascript">
  function incrementValue1(id)
  {
      var value = parseInt(document.getElementById('like_'+ id).value, 10);
      value = isNaN(value) ? 0 : value;
      value++;
      document.getElementById('like_'+ id).value = value;
  }
  function incrementValue2(id)
  {
      var value = parseInt(document.getElementById('like_'+ id).value, 10);
      value = isNaN(value) ? 0 : value;
      value--;
      document.getElementById('like_'+ id).value = value;
  }

  function hide(id) {
        document.getElementById('edit_' + id).style.display = 'none'; 

        var text = document.getElementById('text_' + id);
        var hint = text.getAttribute('placeholder')
        text.removeAttribute('disabled'); 
        text.removeAttribute('placeholder')
        text.value = hint;
    } 

  function delete_comment(comment_id, post_id){
    var location = '/comment/delete?comment_id=' + comment_id + '&post_id=' + post_id;
    window.location.href = location;
  }

function like_comment(post_id, comment_id){
    var location = '/comment/like?post_id=' + post_id+ '&comment_id=' + comment_id;
    window.location.href = location;
  }

  function dislike_comment(post_id, comment_id){
     var location = '/comment/unlike?post_id=' + post_id + '&comment_id=' + comment_id;
    window.location.href = location;
  }

</script>

</body>
</html>
